@model TravelAgency.Web.ViewModels.Hotel.HotelFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group text-">
                <label asp-for="Star" class="d-block"><span class="stars"></span></></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Star" id="star1" value="1" checked>
                    <label class="form-check-label" for="star1">
                        1
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Star" id="star2" value="2">
                    <label class="form-check-label" for="star2">
                        2
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Star" id="star3" value="3">
                    <label class="form-check-label" for="star3">
                        3
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Star" id="star4" value="4">
                    <label class="form-check-label" for="star4">
                        4
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Star" id="star5" value="5">
                    <label class="form-check-label" for="star5">
                        5
                    </label>
                </div>
                <span asp-validation-for="Star" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" placeholder="Location...">
                <span asp-validation-for="Location" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Two bedrooms..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                @if (Model.Images.Count > 0)
                {
                    for (int i = 0; i < Model.Images.Count; i++)
                    {
                        <div class="input-group mb-3">
                            <input asp-for="Images[i]" class="form-control" placeholder="Image URL...">
                            <div class="input-group-append">
                                @if (i == Model.Images.Count - 1)
                                {
                                    <button class="btn btn-outline-secondary" type="button" onclick="addImageField()">+</button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-secondary" type="button" onclick="removeImageField(this)">-</button>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    Model.Images.Add(string.Empty);
                    <div class="input-group mb-3">
                        <input asp-for="Images[0]" class="form-control" placeholder="Image URL...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="addImageField()">+</button>
                        </div>
                    </div>
                }
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DoubleRoomPrice"></label>
                <input asp-for="DoubleRoomPrice" class="form-control">
                <span asp-validation-for="DoubleRoomPrice" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudioPrice"></label>
                <input asp-for="StudioPrice" class="form-control">
                <span asp-validation-for="StudioPrice" class="small text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ApartmentPrice"></label>
                <input asp-for="ApartmentPrice" class="form-control">
                <span asp-validation-for="ApartmentPrice" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control" placeholder="Choose category">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CateringTypeId"></label>
                <select asp-for="CateringTypeId" class="form-control" placeholder="Choose catering type">
                    @foreach (var catering in Model.Caterings)
                    {
                        <option value="@catering.Id">@catering.Name</option>
                    }
                </select>
                <span asp-validation-for="CateringTypeId" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

