@using TravelAgency.Services.Data
@using Microsoft.AspNetCore.Identity
@using TravelAgency.Data.Models
@using TravelAgency.Services.Data.Interfaces
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService
@{
    ViewData["Title"] = "Home Page";
    string userFullName = await UserService.GetFullNameByEmailAsync(this.User.Identity?.Name!);
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Здравей, @userFullName</h2>
    <p class="lead mb-1 mt-3">
        <div class="container mt-5">
            <h2>Добре дошли във вашето администраторско табло за управление на хотелската платформа!</h2>
            <p>
                Тук можете да наблюдавате и контролирате списъците си с хотели, осигурявайки безпроблемно изживяване за вашите потребители. Можете да изпълнявате набор от основни задачи:
            </p>

            <h3>Управление на хотелите:</h3>
            <ul>
                <strong>Описание към всеки хотел</strong>, включитено име, местоположение, категория, вид на изхранването и др.
                <strong>Да създавате хотели</strong>, да добавяте снимки и описание.
                <strong>Да редактиарте информацията за съществуващи хотели</strong>, попържайки винаги актуална информация.
                <strong>Да изтривате хотели</strong> когато това е необходимо.
                <strong>Мониторинг на резервациите</strong> за да менажирате ефективно.
            </ul>

            <h3>Управление на потребители:</h3>
            <ul>
                <strong>Можете да виждате кой е онлайн</strong> от регистрираните в пратвормата.
                <strong>Осигурете безпроблемно потребителско изживяване.</strong>
            </ul>

            <h3>Мониторинг на резервациите:</h3>
            <ul>
                <strong>Вижте всички резервации</strong> направени в системата.
                <strong>Управлявайте резервациите</strong>, за да гарантирате, че няма да възникнат конфликти.
                <strong>Наблюдавайте приходите</strong>, за да оптимизирате работата си.
            </ul>
            
            <p>
                Вашата роля на администратор е от решаващо значение за поддържане на качествена услуга!
            </p>

            <p>
                Приятно управление!
            </p>
        </div>


    </p>
    
    <hr class="my-4">
    <a asp-area="" asp-controller="Hotel" asp-action="All" class="btn btn-primary btn-lg">All Hotels</a>
    <span>  |   </span>
    <a asp-area="" asp-controller="Hotel" asp-action="Add" class="btn btn-primary btn-lg">Add Hotel</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Reservation" asp-action="All" class="btn btn-primary btn-lg">All Reservations</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="User" asp-action="AllUsers" class="btn btn-primary btn-lg">All Users</a>
</div>