@model HotelFormModel
@{
    ViewData["Title"] = "Edit Hotel";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_HotelFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
