@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<UserAllReservationViewModel>
@{
    ViewData["Title"] = "Моите резервации";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">Все още нямате резервации!</h2>
}

<div class="row mt-0 mb-0">
    @foreach (var reservation in Model)
    {
        <div class="col-md-4">
            <partial name="_ReservationPartial" model="@reservation" />
        </div>
        
    }
</div>